table,
td {
    border: 1px solid #333;
    padding: 16px;
    text-align: center;
}


th {
    background-color: #333333;
    color: #fff;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  flex-direction: column;
}

button {
  margin: 0 4px ;
  padding: 4px;
}

.edit-btn {
  background-color: yellow;
  cursor: pointer;
  border-radius: 4px;
  width: 80px;
  height: 30px;
}

.edit-btn:hover {
  background-color: rgb(189, 189, 82);

}

.delete-btn {
  background-color: red;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  width: 80px;
  height: 30px;
}

.delete-btn:hover {
  background-color: rgb(206, 72, 72);
}

.bankrupt-btn {
  background-color: rgb(83, 83, 253);
  color: black;
  cursor: pointer;
  border-radius: 4px;
  width: 80px;
  height: 30px;
}

.bankrupt-btn:hover {
  background-color: rgb(45, 45, 177);
  color: white
}

.withdraw-btn {
  background-color: rgb(44, 255, 72);
  color: black;
  cursor: pointer;
  border-radius: 4px;
  width: 80px;
  height: 30px;
}

.withdraw-btn:hover {
  background-color: rgb(39, 179, 58);
}

.create-btn {
  background-color: rgb(255, 128, 44);
  color: black;
  cursor: pointer;
  border-radius: 4px;
  height: 30px;
  width: 110px;
}

.create-btn:hover {
  background-color: rgb(189, 96, 34);
}